$header-bg-color: #fa2828fa;

$header-txt-color: #000000;

$bg-app: #363232;

$header-border-bottom-color: #c4c4c4;

$primary-txt-color: #ffffff;

$secondary-txt-color: #c4c4c4;

$checkbox-bg-color: #ff5252fa;

$poster-bg: #c4c4c4;
